<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Inicio de Sesión|Pro and Care</title>
</head>
<body>
     <main>
        <div class="logo-container">
        <img src="../static/unnamed.png" alt="Pro And Care Logo">
        </div>
    <form action="/login" method="post">
        <input type="email" name="correo" placeholder="Correo Electrónico" required>
        <input type="password" name="contraseña" placeholder="Contrasena"required>
        <button type="submit"> Enviar </button>
    </form>

   </main>

   <footer>

   </footer>
</body>
</html>